html, body, div, span, a, p, table, td, tr, tbody, thead, th, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    background: none;
}

.hidden { display: none; visibility: hidden; }

.huge { font-size: 24pt; }
.big { font-size: 20pt; }
.normal { font-size: 16pt; }
.small { font-size: 12pt; }
.tiny { font-size: 8pt; }

body {
    /*width: 800;*/
    /*height: 600;*/
    /*transform: scale(1vw/12*min(1, 1vh/9*4/3), 1vh/9*min(1, 1vw/12*3/4));*/
    /*transform: scale(1vw/8*min(1, 1vh/6*4/3), 1vh/6*min(1, 1vw/8*3/4));*/
    /*transform: scale(min(100vw, 133vh), min(75vw, 100vh));*/
    /*transform: matrix(.5, 0, 0,*/
                      /*0,   .5, 0,*/
                      /*0,   0, 1);*/
    background: white;
    font-size: 16pt; /* normal */
}

div.header h1 {
    text-align: center;
	font-size: 1.5em;
}

div.header h2 {
    text-align: center;
	font-size: 1.25em;
}

div.header {
	position: relative;
}

div.footer {
	position: relative;
}

div.left-sidebar {
	position: relative;
}

div.right-sidebar {
	position: relative;
}

html,body {
    height:100%;
    overflow: hidden;
}

ul.toc {
    list-style-type: upper-roman;
    padding-left: 1.5em;
	position: relative;
}

ul.toc ul.toc {
    list-style-type: lower-roman;
    padding-left: .5em;
	position: relative;
}

ul.toc ul.toc ul.toc {
    list-style-type: lower-alpha;
    padding-left: .5em;
	position: relative;
}

.toc-item {
    font-weight: normal;
}

.current-toc-item {
    font-weight: bold;
}

div.slide {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.vertical {
    height: fill;
    border: 0;
    padding: .1em;
}

.horizontal {
    width: 100%;
    height: 100px;
    border: 0;
    padding: .1em;
}

.left {
    border-right: 1px solid black;
    float: left;
}

.right {
    border-left: 1px solid black;
    float: right;
}

.top {
    border-bottom: 1px solid black;
    float: top;
}

.bottom {
    border-top: 1px solid black;
    float: bottom;
}

.slide-bullets {
    display: block;
}

/*.slide-bullet:after {*/
    /*content: "\0025AB";*/
    /*display: inline-block;*/
/*}*/

/*.slide-bullet-active:after {*/
    /*content: "\0025AA";*/
    /*display: inline-block;*/
/*}*/

.progress-bar {
    width: 100%;
    height: 10px;
    background: blue;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 40%, blue 50%, rgba(255,255,255,0) 60%);
}

.progress-bar-inner {
    height: 100%;
    background-color: green;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 25%, green 50%, rgba(255,255,255,0) 75%);
}

.top {
    float: none;
    width: auto;
    height: 20%;
}

.left {
    /*float: none;*/
    width: 20%;
    /*height: 100%;*/
}

div.left ~ div.top {
    height: 80%;
}

table {
    empty-cells: hide;
}

td:empty { height: 0px; width: 0px; border: 0; }

table.presentation {
    min-height: 768px;
    height: 768px;
    min-width: 1024px;
    width: 1024px;
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: hide;
    /*overflow: hidden;*/
}

table.presentation td:empty {
    display: none;
}

table.presentation td {
    /*border: 1px dashed black;*/
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    /*overflow: hidden;*/
}

table.presentation td.footer {
    vertical-align: bottom;
}


table.presentation td.slide {
    height: auto;
    vertical-align: top;
    /*overflow: hidden;*/
    position: relative;
}


div.block {
    /*border-radius: 2em 1em 4em / 0.5em 3em;*/
    border: 1px solid lightgreen;
    overflow: hidden;
    margin: 2em;
}

div.block div.block-title {
    border-top: 1px solid lightgreen;
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    border-radius; 50px;
    background-color: lightgreen;
    padding: 1em;
    padding-bottom: .5em;
}

div.block div.block-content {
    border-bottom: 1px solid lightgreen;
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    border-radius; 50px;
    padding: 1em;
    padding-top: .5em;
}

.talk-author { display: inline-block; }
.talk-date { display: inline-block; }
.talk-where { display: inline-block; }
